body {
    margin: 0;
    font-family: 'Courier Prime', monospace;
    background-color: white;
}

.leftside, .rightside {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.leftside {
    background: white;
}

.rightside {
    background: black;
}

.leftside:hover, .rightside:hover {
    width: 100%;
}

.leftside a, .rightside a {
    color: inherit;
    text-decoration: none;
}

.leftside a {
    color: black; /* Set text color to black for left side */
}

.rightside a {
    color: white; /* Set text color to white for right side */
}

.leftside:hover a {
    color: #1C00FF; /* Change text color on hover for left side */
    text-decoration: none; /* Remove underline on hover */
}

.rightside:hover a {
    color: #1C00FF; /* Change text color on hover for right side */
    text-decoration: none; /* Remove underline on hover */
}

/* Adjust for smaller screens */
@media screen and (max-width: 768px) {
    .leftside {
        height: 40vh; /* Set initial height to full viewport height */
    }
    .rightside {
        height: 60vh; /* Set initial height to full viewport height */
    }
}
