*{box-sizing: border-box;}

body {
    
    font-family: 'Courier Prime', monospace;
background-color: whitesmoke;
margin: 0px;
}

h1 {
    font-size: 1.5em;
    padding: 20px;
    line-height: 0.5em;
    margin-top: 10vw;
}

h3{
    font-size: 1em;
    font-weight: 100;
    
}
p {
    font-size: 18px;
    margin: 30px 0;
    width: 33.333vw; /* 1vw = 1% viewport width*/
}

img {
    width: 90%;
    height: auto;
  }

a{
    background-color: tomato;
    padding: 0.1em;
    color: white;
    border-radius: 4px;
}

ul {
    margin: 50px;
    padding: 0;
    list-style: none;
    line-height: 1.6em;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    color:blue;
}

a:hover{
 color: yellow;
 background-color: transparent;
}

a:active{
    color: red;
    background-color: transparent;
}


.flex-container {
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: inherit;
    gap: 20px;
  }
  
  .flex-item {
    width: 500px;
    /* margin: 20px 0; */
    /* line-height: 100px; */
    flex-grow: 1;
   position: relative;
  }
  
  .flex-item div {
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(25, 37, 141, 0.5);
      color: #fff;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

  }
  .flex-item img {
      display: block;
  }
  .flex-item:hover div {
      opacity: 1;
  }
  